body {
    background: linear-gradient(to right, rgb(103, 114, 219), rgb(151, 69, 172));
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
  }
  
  
  .box {
    width: 75%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    padding-top: 20px;
    margin: 60px;
    text-align: center;
  }
  
  .links2:hover{
    color:rgb(201, 167, 74)
  }
  
  
  p, h1, h2{
    font-size: 25px;
    text-align: center;
    padding: 15px;
  }
  
  .cajalink{
    text-decoration: None;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 20px;
    background-color: rgb(192 132 252);
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
  }
  
  .cajalink:hover{
    background-color: rgb(202, 162, 53);
    flex-direction: column;
  }
  
  .linkcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px
  }
  
  #header {
    font-weight: normal;
    text-align: center;
  }
  